*,
button {
  --bs-font-monospace: "PingFang TC", "Microsoft JhengHei", "Source Han Sans TC",
    Arial, sans-serif;
  font-weight: bold;
}
.btn {
  --bs-btn-font-weight: unset;
}
.btn-outline-primary {
  font-weight: bold;
}

.btn-primary {
  --bs-btn-bg: #b62996;
  --bs-btn-border-color: #b62996;
  --bs-btn-hover-bg: #801668;
  --bs-btn-hover-border-color: #b62996;
  --bs-btn-active-bg: #b62996;
  box-shadow: 3px 2px rebeccapurple;
}
.btn-outline-primary {
  --bs-btn-color: #b62996;
  --bs-btn-border-color: #b62996;
  --bs-btn-hover-bg: #801668;
  --bs-btn-hover-border-color: #b62996;
  --bs-btn-active-bg: #b62996;
  box-shadow: 3px 2px rebeccapurple;
}
.bg-primary {
  --bs-primary-rgb: 232, 133, 210;
  --bs-bg-opacity: 0.3;
  box-shadow: 3px 2px rebeccapurple;
}
.list-group-item:hover {
  background-color: rgb(197, 197, 197);
}
.list-group-item.active {
  background-color: #b62996;
}
.list-group-item.active:hover {
  background-color: #801668;
}
#todoListField {
  border: 1px solid darkmagenta;
  border-radius: 15px;
  box-shadow: 3px 2px rebeccapurple;
}
#dateListField,
#dateListField a {
  border: 1px solid darkmagenta;
  border-radius: 15px;
  box-shadow: 3px 2px rebeccapurple;
}
#datelistController article:hover {
  --bs-primary-rgb: 128, 22, 104;
}
#inputField {
  border: 1px solid darkmagenta;
  border-radius: 15px;
  box-shadow: 3px 2px rebeccapurple;
  flex-wrap: nowrap;
  width: 40%;
}
#inputField input,
#inputField span {
  border: 1px solid darkmagenta;
  border-radius: 15px;
  max-width: 100%;
  box-shadow: 3px 2px rebeccapurple;
}

#calendar {
  table-layout: fixed;
  width: 100%;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
#calendar th {
  border-bottom: 1px solid darkmagenta;
}
#calendar td:hover,
#calendar th:hover {
  background-color: #c1c1c1;
}
#calendar td {
  text-shadow: #dadada 2px 2px 1px;
}
.calhl {
  color: white !important;
  background-color: darkmagenta !important;
  text-shadow: unset !important;
  border-radius: 25px !important;
}
.caldot::after{
  content: "";
  display: inline-block;
  width: 6px; /* 小圓點的直徑 */
  height: 6px; /* 小圓點的直徑 */
  background-color: darkmagenta; /* 小圓點的顏色 */
  border-radius: 50%; /* 讓它變成圓形 */
  margin-left: 4px; /* 與數字的間距 */
  margin-bottom: 2px;
  vertical-align: center; /* 垂直對齊 */
}
@media screen and (max-width: 992px) {
  #inputField {
    width: 100%;
  }
}
